@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary: #12f2d0;
  --light: #eeeeee;
  --dark: #2a2f43;
  --border-colour: rgba(238, 238, 238, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  width: 100%;
}

input {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial; /* create alternative for focus state */
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  background: rgb(123, 0, 245);
  background: linear-gradient(
    0deg,
    rgba(123, 0, 245, 1) 0%,
    rgba(56, 93, 177, 1) 100%
  );
}
h2,
h2 {
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

main {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

#loading {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto auto;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

nav p {
  color: var(--light);
}

.nav_links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  min-width: 200px;
}

.login_form {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--dark);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 8px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 1000;
}

.login_form_visible {
  display: flex;
}

.error {
  display: flex;
  justify-content: center;
  background-color: darkred;
  color: white;
  font-weight: 800;
  padding: 12px;
  border-radius: 16px;
}

.main_title {
  color: var(--light);
  font-weight: 800;
  font-size: 48px;
  height: auto;
}

.company_search_form {
  height: 62px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  overflow: hidden;

  transition: background-color 0.2s, box-shadow 0.2s;
}

.company_search {
  position: relative;
  height: 100%;
}

.form_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_input {
  height: auto;
  border: 1px solid rgba(245, 245, 245, 0.243);
  border-radius: 16px;
}

#login_button {
  margin: 10px auto;
  width: 100%;
  border: none;
}

.input_label {
  color: white;
  margin: 10px auto;
}

.input_field {
  height: 100%;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  color: var(--light);
}

.input_field::placeholder {
  color: var(--light);
  opacity: 0.4;
}

#search_icon {
  position: absolute;
  top: 25%;
  right: 10px;
  opacity: 0.6;
  height: 30px;
  width: auto;
  color: white;
}

/* Results Section */

.results {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.04);

  transition: height 0.5s ease-in-out;
}

.results_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  padding: 8px;
  width: 100%;
  flex: 1;
}

.results_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 1;
  max-width: 100%;
  width: auto;
  color: var(--light);
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 25px -3px var(--border-colour);
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 16px;
}

.results_list_item_details {
  flex: 1;
}

.results_list_item_title {
  display: flex;
  color: var(--light);
}

.results_list_item_subtitle {
  color: var(--light);
  font-size: 0.8rem;
}

.results_list_item_company_name {
  color: var(--light);
}

.results_list_item_company_number,
.drawer_company_number {
  color: var(--light);
  font-size: 0.8rem;
  opacity: 0.5;
  font-style: italic;
}

.pagination_controls {
  display: flex;
  margin-top: 6px;
  padding: 6px;
  justify-content: space-between;
}

.pagination_button {
  background-color: var(--primary);
  color: var(--dark);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  height: auto;
  min-height: 40px;
  width: 80px;
  padding: 4px;
  border-radius: 16px;
}

.pagination_button_next {
  margin-left: auto;
}

.primary_button {
  background-color: var(--primary);
  color: var(--dark);
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  height: auto;
  min-height: 40px;
  width: auto;
  min-width: 80px;
  padding: 4px;
  border-radius: 16px;
  /* margin-left: auto;
  margin-right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_disabled {
  background-color: lightgray !important;
}

.button_contents {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}

/* Company Details Drawer */
.drawer_container {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  width: 100%;
  height: 100vh;
  padding: 12px;
  z-index: 1000;
  background: rgb(123, 0, 245);
  background: linear-gradient(
    0deg,
    rgba(123, 0, 245, 1) 0%,
    rgba(56, 93, 177, 1) 100%
  );
  transition: all 0.4s ease-in-out;
  border-right: 1px solid var(--border-colour);
  box-shadow: 24px 0px 15px -20px rgba(0, 0, 0, 0.1);
}

.user_drawer_container {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  transform: translateX(200%);
  transition: transform 0.3s ease;
  width: 100%;
  height: 100vh;
  padding: 12px;
  z-index: 1000;
  background: rgb(123, 0, 245);
  background: linear-gradient(
    0deg,
    rgba(123, 0, 245, 1) 0%,
    rgba(56, 93, 177, 1) 100%
  );
  transition: all 0.4s ease-in-out;
  border-right: 1px solid var(--border-colour);
  box-shadow: 24px 0px 15px -20px rgba(0, 0, 0, 0.1);
}

.drawer_container--isopen {
  transform: translateX(0);
}

.user_drawer_container--isopen {
  transform: translateX(0);
}

.drawer_close_button {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: auto;
  color: var(--light);
  border-radius: 6px;
  padding: 8px;
  background-color: var(--dark);
  opacity: 0.6;
}

.drawer_contents {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 10px;
  color: var(--light);
  margin: 0 auto;
  max-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.drawer_contents::-webkit-scrollbar {
  display: none;
}

.drawer_favorite_bar {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 40px;
}

.drawer_favorite_bar h3 {
  margin: auto 0;
}

/* Company Table */
.company_table {
  border: 1px solid var(--border-colour);
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-spacing: 1px;
  border-radius: 6px;
  text-align: left;
}

.company_table td {
  padding: 8px;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--border-colour);
}

.company_table td:first-child {
  border-right: 1px solid var(--border-colour);
  opacity: 0.8;
}

.company_table tr:last-child td:last-child {
  border-bottom: none;
}

.company_table tr:nth-last-child(1) td:nth-last-child(2) {
  border-bottom: none;
}

.drawer_company_headings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  border-radius: 6px;
}

.drawer_company_headings h3 {
  text-align: center;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.04);
}

.drawer_company_headings .unselected {
  background-color: transparent;
}

@media only screen and (min-width: 800px) {
  .drawer_container {
    width: 50%;
  }

  .user_drawer_container {
    width: 50%;
  }
}
